body{
   background-color: whitesmoke;
}
#entete{
   width:cover;
   height:110px;
   background-image: url(https://th.bing.com/th?id=OIP.JEG2BzQBTrAbKMkt4y1MnQHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2);
   background-position:center;
   background-size: cover;
   padding-left:0px;
   padding-right:0px;
   box-sizing: border-box;}
#Titre
{
   font-size: 70px;
   text-align: center;
   color: white;
}
.principal{
  background-color: white;
   width:cover;
   background-position:cover;
   background-size:auto;
   box-sizing: border-box;
   color: black;
}
#menu ul>li
{
   text-decoration-color: white;
   text-align: center;
   display: inline-block;
   padding-right: 40px;
   padding-left: 75px;
   padding-top: 15px;
}
a:hover
{
   text-decoration-color: black;
   color: blue
}
a
{
   color: white;
}
h1,h2,h3
{
   text-align: center;
   color:black;
}
p
{
   font-size: larger;
   text-align: center;
}
.video
{
   display: block;
   text-align: center;
}
.images
{
   display: block;
   float: left;
}
.piedpage>a
{
   display: inline-block;
    color: darkcyan;
   text-align:center;
   border: 3px solid black ;
   padding:10px;
}
.piedpage
{
   display:block;
   width:cover;
   color: black;
   text-align: center;
}
.map
{
   text-align: center;
}
p
{
}
.principal>ul>li
{
   background-color: none;
   font-size: large;
   background-blend-mode: overlay;
}
#idb{
   float: right;
}
#idbb{
   float:left;
}